.home-page {
  text-align: center;
  padding: 60px 20px;
  /* background-color: #f7f7f7; */
  background-color: #f0faff;
  /* background: linear-gradient(to right, #9be9f3, #6e4ee4); */
  margin: 50px auto;
  width: 50%;
  
}
h1{
  color: navy;
}
.hi{
  color:rgb(0, 0, 0);
  background-color: antiquewhite;
}

.download-btn {
  margin-top: 20px;
  display: inline-block;
  /* background-color: #007bff; */
  background-color: #29a6e4;
  color:navy;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
  
}

.download-btn:hover {
  background-color: #0056b3;
}
